{{g-maps name="my-map" lat=lat lng=lng zoom=zoom}}



<div id="container" class="flexChild rowParent">

  <div id="rowChild20481" class="flexChild">
    {{!--
    {{#power-select-multiple options=truckList selected=selectedTruckList placeholder="Select some trucks..."
                             onchange=(action "selectTrucks") as |name| }}
      {{name}}
    {{/power-select-multiple}}
    --}}

    {{!--
    {{#bs-accordion as |acc|}}
      {{#each originTruckListFake as |truckOriginFake|}}
        {{#acc.item value=truckOriginFake.Name title=truckOriginFake.Name}}
          <table class="table-fill">
            <tbody class="table-hover">
            <tr>
              <td class="text-left">{{truckOriginFake.City}}</td>
              <td class="text-left">
                {{#power-select selected=selectedDestination options=destinationList onchange=(action "selectDestination") as |name| }}
                  {{name}}
                {{/power-select}}
              </td>
            </tr>
            </tbody>
          </table>
        {{/acc.item}}
      {{/each}}
    {{/bs-accordion}}
    --}}

    {{#bs-accordion as |acc|}}
      {{#each originTruckListFake as |truckOriginFake|}}
        {{#acc.item value=truckOriginFake.Name title=truckOriginFake.Name}}
          <label for={{concat 'origin_' truckOriginFake.Name}}>Origin</label>
          {{input type="text" id=(concat 'origin_' truckOriginFake.Name) name=(concat 'origin_' truckOriginFake.Name) placeholder=truckOriginFake.City disabled=true}}

          <label for={{concat 'destination' truckOriginFake.Name}}>Select a destination</label>
          {{input value=(get this (concat 'destination_' truckOriginFake.Name)) action="destWritten" on="key-up"}}
        {{/acc.item}}
      {{/each}}
    {{/bs-accordion}}

    {{!--
    {{#power-select selected=selectedDestination options=destinationList onchange=(action "selectDestination") as |name| }}
      {{name}}
    {{/power-select}}
    --}}

  </div>

  <div id="rowChild23096" class="flexChild button-block">
    {{#bs-button type="primary" onClick=(action "pullTruckStartPosition")}}Pull Data From Server{{/bs-button}}
    {{#bs-button type="primary" onClick=(action "generatePath")}}Display Truck Path On Map{{/bs-button}}
  </div>
  <div id="rowChild10329" class="flexChild">

  </div>
</div>


{{yield}}
